@font-face {
    font-family: 'Inter Variable';
    src: url('fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
    font-weight:   900;
    font-style: normal;
}

* {
    font-weight:   900;
    font-family: 'Inter Variable', sans-serif;
    margin:   0;
    scroll-behavior: smooth;
}

body, html {
    height:   100%;
}

body {
    background-color: #0d1117;
    background-repeat: no-repeat;
    background-size:   100%   100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: white;
    -webkit-background-clip: text;
    background-clip: text;
    letter-spacing:   2px;
    font-size:   400%;
    margin-top:   10%;
    text-align: center;
}

.text-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    margin-top: 5%;
    width: 60%;
    color: white;
    background-color: #1a2433;
    padding: 1.5%;
    border-radius: 10px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.575);
}

.btn {
    color: white;
    text-decoration: none;
}
@media screen and (max-width:  800px) {
    .title {
        -webkit-background-clip: text;
        background-clip: text;
        letter-spacing:   2px;
        font-size:   200%;
        margin-top:   8%;
        text-align: center;
    }

    .text {
        margin-top: 25%;
        width: 90%;
        color: white;
        background-color: #1a2433;
        padding: 1.5%;
        border-radius: 10px;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.575);
    }
}
